@import './DetectedFeeds/detected-feeds.css';
@import './NewFeedsList/new-feeds-list.css';

.subscribe-view__title {
    align-self: center;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
}

.subscribe-view__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: calc(100vh - var(--header-height));

    padding: 0.5rem;
}

.subscribe-view__section-heading {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
}

.subscribe-view__add-form {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.subscribe-view__add-button {
    padding-left: 20px;
    padding-right: 20px;
    align-self: flex-end;
}

.subscribe-view__message-box {
    min-height: 2.2rem;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    color: var(--message-text-color);
}

.subscribe-view__message-box--visible {
    background-color: var(--message-background-color);
}
