.button {
    border: 1px solid var(--button-border-color);
    border-radius: 4px;
    background-color: var(--button-background-color);
    color: var(--button-text-color);
    font-size: 13px;
    font-weight: var(--button-font-weight);
    line-height: 20px;
    min-height: var(--button-min-height);
    padding: var(--button-padding);

    &:hover {
        background-color: var(--button-background-color-hover);
        color: var(--button-text-color-hover);
    }

    &:active {
        background-color: var(--button-background-color-active);
        color: var(--button-text-color-active);
    }

    &:focus-visible {
        outline: var(--focus-outline-width) solid var(--focus-outline-color);
        outline-offset: var(--focus-outline-offset);
    }

    &:disabled {
        opacity: var(--button-opacity-disabled);
    }
}

.toolbar-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--toolbar-text-color);
    background-color: transparent;

    /* icon size 22px */
    height: 32px;
    width: 32px;
    padding: var(--button-padding-icon);
}

.button--ui-active {
    color: var(--button-text-color-active);
    background-color: var(--button-background-color-active);
}
