@import '../base-styles/base-styles.css';
@import '../base-components/base-components.css';
@import './MainView/main-view.css';
@import './MainView/date-sorted-list/date-sorted-list.css';
@import './Menu/menu.css';
@import './SubscribeView/subscribe-view.css';
@import './DiagnosisView/diagnosis-view.css';

.sidebar__container {
    position: relative;
    height: 100vh;
    background-color: var(--background-color-canvas);
    color: var(--text-color);
}

.sidebar__main-header {
    display: grid;
    align-items: center;
    grid-column-gap: 4px;
    grid-template-columns: 32px 1fr 100px 32px;
}

.text-input {
    height: 32px;
    border: 1px solid var(--border-color-interactive);
    border-radius: var(--border-radius-small);
    padding-inline: 8px;
    min-width: 75px; /* prevent cutting off more menu button */

    &:focus-visible {
        outline: var(--focus-outline);
        outline-offset: var(--focus-outline-offset);
    }
}
