.badge {
    display: inline-flex;
    align-items: center;
    gap: var(--space-xsmall);
    width: fit-content;
    padding: 0 var(--space-xsmall);
    outline: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius-small);
    color: var(--text-color-deemphasized);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-semibold);
}