.card {
    border: var(--border-width) solid var(--card-border-color);
    border-radius: var(--border-radius-large);
    background-color: var(--background-color-box);
    box-shadow: var(--card-box-shadow);
}

.card--accordion + .card--accordion {
    margin-block-start: var(--space-medium);
}

.card__header {
    display: grid;
    grid-template-columns: var(--icon-size) 1fr;
    align-items: center;
    gap: var(--card-gap);
    width: 100%;
    padding: var(--card-padding);
    border: none;
    border-radius: inherit;
    background-color: transparent;
    color: inherit;
    font: inherit;
    text-align: start;
    cursor: pointer;

    &:hover {
        background-color: var(--button-background-color-hover);
    }

    &:focus-visible {
        outline: var(--focus-outline);
    }
}

.card__header-title {
    font-weight: var(--font-weight-heading);
}

.card--expanded .card__header {
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
}

.card__content {
    padding-inline: var(--card-padding);
    padding-block-end: var(--card-padding);
    overflow: hidden;
    border-end-start-radius: var(--border-radius-large);
    border-end-end-radius: var(--border-radius-large);
}