@import './folder-tree/folder-tree.css';
@import './FeedList/feed-list.css';

.main-view {
    position: relative;
    padding-top: 4px;
    height: calc(100vh - var(--header-height));
    overflow-x: scroll;
}

.main-view__scrollbar-background {
    /* make visual space for the scrollbar without shifting content*/
    width: var(--scrollbar-background-width);
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--sidebar-background-color);
}

.view-visible {
    height: 100%;
    visibility: visible;
}

.view-hidden {
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.view-hidden div {
    height: 0; /* hidden children should not claim space*/
}
