@import './folder-tree/folder-tree.css';
@import './FeedList/feed-list.css';

.main-view {
    padding-top: 4px;
    height: calc(100vh - var(--header-height));
    overflow-x: scroll;
}

.main-view--scroll {
    padding-right: 12px;

    .feed-item__grid {
        padding-right: 0px;
    }
}

.view-visible {
    height: 100%;
    visibility: visible;
}

.view-hidden {
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

.view-hidden div {
    height: 0; /* hidden children should not claim space*/
}
