.subscribe-view__new-feeds-list {
    flex: 1;
    padding-left: 12px;
    border: 1px solid var(--menu-border-color);
    border-radius: 4px;
    margin-top: 6px;
    overflow-y: scroll;
}

.subscribe-view__new-feeds-list-item {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 4px;

    list-style: none;
}
