.drawer {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    background-color: var(--background-color-canvas);
    opacity: 0;
    visibility: hidden;

    transition: opacity 0.25s ease;
}

.drawer--visible {
    opacity: 1;
    visibility: visible;
}

@media (prefers-reduced-motion: reduce) {
    .drawer {
        transition: none;
    }
}
