.feed-item {
    padding-left: 20px; /* TODO */

    list-style: none;
}

.feed-item--indented {
    padding-left: calc(var(--item-nested-level) * 15px + 25px);
}

.feed-item--selected {
    color: var(--selected-item-no-focus-text-color);
    background-color: var(--selected-item-no-focus-background-color);
}

.feed-item--ui-active {
    color: var(--selected-item-text-color);
    background-color: var(--selected-item-background-color);
}

.feed-item__grid {
    display: grid;
    width: 100%;
    align-items: center;
    padding-right: 6px;
    grid-column-gap: 4px;
    grid-template-columns: 18px 1fr 22px;
}

.feed-item__remove-button {
    display: none;
    width: 22px;
    height: 22px;
    margin-top: 2px; /* account for negative margin for spacerHeight */
    padding: 1px;
    grid-column: 3;
    opacity: 0.9;

    &:hover {
        cursor: pointer;
    }
}

.feed-item__link {
    grid-column: 2 / span 2;
    overflow: hidden;
    padding-top: 4px;
    padding-bottom: 4px;

    color: inherit;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
        text-decoration: underline;
    }
}

.feed-item__grid:hover {
    .feed-item__link {
        grid-column: 2;
    }

    .feed-item__remove-button {
        display: block;
    }
}
