.diagnosis-view__title {
    align-self: center;
    margin: auto;
    font-size: 1.1rem;
    font-weight: 600;
}

.diagnosis-view__content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    height: calc(100vh - var(--header-height));
    overflow-y: auto;

    padding: 0.5rem;
}

.diagnosis-view__section-heading {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
    margin: 0;
}

.diagnosis-view__section--error .diagnosis-view__section-heading {
    color: var(--text-color-error);
}

.diagnosis-view__section--inactive .diagnosis-view__section-heading {
    color: var(--warning-text-color);
}

.diagnosis-view__list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.diagnosis-view__row {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 4px 8px;
    border: 1px solid var(--menu-border-color);
    border-radius: 4px;
}

.diagnosis-view__row-header {
    display: flex;
    gap: 8px;
    align-items: center;
    justify-content: space-between;
}

.diagnosis-view__feed-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.diagnosis-view__status {
    flex: 0 0 auto;
    align-self: center;
    text-transform: capitalize;
}

.diagnosis-view__detail {
    font-size: 0.9em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.diagnosis-view__latest-link {
    color: inherit;
}

.diagnosis-view__actions {
    display: flex;
    gap: 4px;
    justify-content: flex-end;
    padding-top: 2px;

    .button {
        padding-left: 12px;
        padding-right: 12px;
    }
}

.diagnosis-view__actions .diagnosis-view__remove-button {
    color: var(--text-color-error);
    background-color: transparent;
    border: 1px solid currentColor;
}
